//
   Created by eranda on 9/20/16.

extends layout

block content
    div(class='container')
        h1= title
        p Welcome to #{title}

        if(cart_data.length > 0)
            div(class='cart')
                div(class='cart-top') Cart
                each cart_item in cart_data
                    div(class='cart-item')
                        span=cart_item.name
                        span=cart[cart_item.id]
                        span=Math.round((cart[cart_item.id] * cart_item.price) * 100) / 100
                div(class='cart-bottom')
                    a(class='button', href='/clear') Clear
                    a(class='button', href='/checkout') Checkout

